# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# Environment files
*.env
.env.local

# Sensitive files
*.key
*.pem
*.cert

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
